.accordion-wrapper {
  .accordion-list-item {
    .accordion-head {
      display: flex;
      align-items: center;
      gap: 20px;
      cursor: pointer;
      padding: 12px 0;
      position: relative;

      &:before {
        content: "\f068";
        font-family: $font-awesome;
        color: $white;
        font-weight: 700;
      }
      &.collapsed {
        &:before {
          position: relative;
          content: "\2b";
          font-family: $font-awesome;
          color: $white;
          font-weight: 700;
        }
      }

      .accordion-title {
        font-size: 21px;
        line-height: 32px;
        color: $white;
        font-weight: 700;
        margin-bottom: 0;
      }
    }
    .accordion-item-body {
      color: $white-100;
      padding-left: 50px;
      padding-bottom: 3px;
      @include transition;
    }
  }
}
