.slider-area {
  &.style-2 {
    position: relative;

    .single-slider {
      background-size: unset;
      background-position: bottom right;
      @include lg{
        background-position: top left;
      }
      .slider-content{
        .slider-title{
          span{
            border-bottom: none;
          }
        }
        .shape-1{
          @include lg{
            right: 45px;
            top: -96px;
          }
        }
      }
    }

    .slider-bg {
      position: absolute;
      top: 132px;
      left: 0;
      @include xl{
        top: unset;
        bottom: 0;
      }
      @include md{
        height: 100%;
      }
      img{
        @include md{
          height: 100%;
        }
      }
    }
  }
}