.slider-area {
  &.style-2 {
    position: relative;

    .single-slider {
      background-size: unset;
      background-position: bottom right;
      .slider-content{
        .slider-title{
          span{
            border-bottom: none;
          }
        }
      }
    }

    .slider-bg {
      position: absolute;
      top: 132px;
      left: 0;
    }


  }
}