.image-card {
    position: relative;
    overflow: hidden;


    .image-wrapper {
        position: relative;
        img{
            @include rmaxwd(1399){
                width: 100%;
            }
        }
        .info-card {
            position: absolute;
            height: 100%;
            left: 0;
            margin: 50px;
            bottom: -78%;
            text-align: center;
            border-radius: 289px;
            background-color: $primary-color;
            @include transition;
            @include xl{
                margin: 0;
                bottom: -58%;
                padding: 24px;
            }
            @include rmaxwd(1399){
                justify-content: start;
            }
            .title,
            .desc {
                @include transition;
                @include xl{
                    // text-align: center;
                }
            }
            .desc{
                visibility: hidden;
                opacity: 0;
                
            }
            
        }
    }

    &:hover {
        .image-wrapper {
            .info-card {
                bottom: 0;
                margin: 0;
                text-align: start;
                border-radius: 0;
                background-color: transparent;
                @include sm{
                    padding: 30px;
                }
                .title,
                .desc {
                    @include transition;
                    br{
                        @include rmaxwd(1399){
                            display: none;
                        }
                    }
                }
                .desc{
                    visibility: visible;
                    opacity: 1;
                }
            }
        }
    }
}